/* css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    font-size: 25px;
    
}
/*utilities*/

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
button{
    background-color: rgb(218,165,32);
    border:  rgb(218,165,32);
    font-size: 25px;
}

/*header*/

header{
    background-color:rgb(173,216,229) ;
    min-height: 500px;
    padding-top: 15px;
}
.container-navbar{
    max-width: 1200px;
    margin: 0 auto;
    border: 2px dashed rgb(0, 0, 0);
    display: flex;
    background-color: rgb(218,165,32);
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 25px;
   
}

